<nav> 
	<ul>
 		<p>CHAN</p>
		<li><a href="">Art</a></li> 
		<li><a href="">Fashion</a></li> 	
		<li><a href="">Travel</a></li>
		<li><a href="">Food</a></li>
	</ul>
</nav>

<div class="container-fluid">
 	<div class="presentation">
 	<div class="col-xs-6">
		<div class="col-xs-12">
			<p>When you let yourself enjoy the good times of life, it becomes better</p>	
		</div>
 	</div>
 	<div class="col-xs-6 image">
		<div class="col-xs-12 p-img">
			<img src="../your-01.png">
		</div>
 	</div>

 	</div>
 <!-- <the-posts></the-posts> -->

</div>
	 	