<nav>
	<ul>
		<div id="inside-nav1" class=" col-xs-5">
 			<a (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" class=""
 			href=""><img  src="../logo2" alt="chan"></a>
		</div>
		<div class="col-xs-3"></div>
 		<div id="inside-nav2" class="col-xs-5 ">
			<li><a href="">Art</a></li>
			<li><a href="">Fashion</a></li>
			<li><a href="">Travel</a></li>
			<li><a href="">Food</a></li>
 		</div>
	</ul>
</nav>

<lupe-carousel></lupe-carousel>

<div class="container-fluid">
 	<div class="presentation">
 	<div class="col-xs-6">
		<div class="col-xs-12 animated slideInLeft wow column">
			<h3 class="">When you let yourself enjoy the good times,<br> it becomes better
			</h3>
			<p>
				Chan is an independent digital magazine that combines new emerging talent, projecting its own identity and expression.
			</p>

		</div>
 	</div>
 	<div class="col-xs-6 image">
		<div class="col-xs-12 p-img">
			<img class="animated slideInUp wow" src="../your-01.png" alt="your life style">
		</div>
 	</div>

 	</div>
 <!-- <the-posts></the-posts> -->

</div>
<recent-articles></recent-articles>
<footer></footer>