<carousel class="container">
  <slide>
    <div class="container">
      <img src="https://lorempixel.com/900/500?r=1" alt="First slide">
      <div>
        <a class="btn btn-default" href="#" role="button"> Reed More + </a>  
      </div>
    </div>
  </slide>
  <slide>
    <div class="container">
      <img src="https://lorempixel.com/900/500?r=2" alt="Second slide">
      <div>
        <a class="btn btn-default" href="#" role="button"> Reed More + </a>  
      </div>  
    </div>
  </slide>
  <slide>
    <div class="container">
      <img src="https://lorempixel.com/900/500?r=3" alt="Third slide">
      <div>
        <a class="btn btn-default" href="#" role="button"> Reed More + </a>  
      </div>
    </div>
  </slide>
</carousel>
