<carousel class="carousel-container">
  <slide>
    <div style="background-image: url('https://lorempixel.com/900/500?r=2')" class="lupe-carousel-item">
      
      <div class="action">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <button class="btn btn-outline-light" href="#" role="button"> Read More +</button>  
      </div>
    </div>
  </slide>
  <slide>
    <div style="background-image: url('https://lorempixel.com/900/500?r=2')" class="lupe-carousel-item">
      <div class="action">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <button class="btn btn-outline-light" href="#" role="button"> Read More +</button>  
      </div>
    </div>
  </slide>
  <slide>
    <div style="background-image: url('https://lorempixel.com/900/500?r=2')" class="lupe-carousel-item">
      <div class="action">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <button class="btn btn-outline-light" href="#" role="button"> Read More +</button>  
      </div>
    </div>
  </slide>
</carousel>
