<carousel class="container">
  <slide>
    <div class="container">
      <img src="https://lorempixel.com/900/500?r=1" alt="First slide">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <button class="btn btn-outline-light" href="#" role="button"> Reed More +</button>  
      </div>
    </div>
  </slide>
  <slide>
    <div class="container">
      <img src="https://lorempixel.com/900/500?r=2" alt="Second slide">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <button class="btn btn-outline-light" href="#" role="button"> Reed More +</button>  
      </div>  
    </div>
  </slide>
  <slide>
    <div class="container">
      <img src="https://lorempixel.com/900/500?r=3" alt="Third slide">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <button class="btn btn-outline-light" href="#" role="button"> Reed More +</button>  
      </div>
    </div>
  </slide>
</carousel>
