<div class="footer">
	<div class="col-xs-12">
		<div  class="col-xs-4 ">
			<h3>Made by</h3>
			<p id="made">Chan magazine was designed by 
				<a class="name" href="#">Yasmin pachano
				</a> <br> & programmed by <a class="name" href="http://guadalupelazzo.me">Guadalupe Lazzo</a>
			</p>
		</div>
		<div class="col-xs-4">
			<h3>Contact us</h3>
				<div id="yas" class="col-xs-12 contact">
					<a class="name icon" href="#">
						<i class="fa fa-2x fa-linkedin-square" aria-hidden="true">
						</i>
					</a>
					<a href="#" class="name icon">
						<i class="fa fa-2x fa-envelope-o" aria-hidden="true">
							</i>
					</a>
				</div>
			<div id="lupe" class="col-xs-12 contact">
					<a class="name icon" href="https://www.linkedin.com/in/guadalupe-jazmin-lazzo-764243137">
						<i class="fa fa-2x fa-linkedin-square" aria-hidden="true">
						</i>
					</a>
					<a class="name icon" href="https://github.com/guadalazzo">
						<i class="fa fa-2x fa-github" aria-hidden="true">
						</i>
					</a>
					<a href="guadalupelazzo@gmail.com" class="name icon">
						<i class="fa fa-2x fa-envelope-o" aria-hidden="true">
						</i>
					</a>
				</div>
	
		</div>
	</div>
</div>