<div class="recent  row">
	<div class="col-xs-12 row align-center">
		<div class="col-xs-6 art md-auto align-center"> 
			<img src="http://media-minecraftforum.cursecdn.com/attachments/247/936/636253314079636990.jpg" alt="art">
		</div>
		<div class="col-xs-6 fashion align-center">
			<img src="https://static1.squarespace.com/static/5024aa09e4b042cc9c7a0919/54e072d7e4b0c4ae29cff6d0/54e072dfe4b00965efc3e3d9/1423995615883/Fashion-Photography-by-Tejal-Patni-6-600x801.jpg" alt="fashion">
		</div>
	</div>
</div>