@import _variables
@import posts

*
	padding: 0px
	margin: 0px
body
	background-color: $back
nav
	margin-top: 30px
	ul
		align-items: center
		text-align: center
		padding-right: 80px
		display: flex
		list-style: none	
		justify-content: flex-end
		color: black
		height: 22px
		padding-top: 2px
		flex-direction: row
		width: 100vw
		background-color: $menuBack
		p
			font-family: 'Fjalla One', sans-serif
			padding-right: 50%
			font-size: 55px
			padding-top: 10px
		li
			margin-right: 12px
			margin-left: 12px
		a
			text-transform: uppercase
			font-family: 'Fjalla One', sans-serif
			font-size: 23px
			text-decoration: none
			color: black
			transition: 0.5s
		a:hover,a:active,a:link
			font-size: 23px
			text-decoration: none
			color: white
.presentation

	margin-top: 25px
	display: flex
	padding: 0px
	flex-direction: row
	padding-right: 30px
	font-family: 'Fjalla One', sans-serif
	div
		display: flex
		align-items: center
		justify-content: flex-start
		div
			p
				text-transform: uppercase
				font-size: 23px

.image
	display: inline-flex
	justify-content: flex-end
	.p-img
		justify-content: flex-end
		display: flex
		img
			height: 250px

