@import _variables
@import posts

*
	padding: 0px
	margin: 0px
body
	background-color: $back
nav
	margin-top: 30px
	ul
		align-items: center
		padding-right: 80px
		display: flex
		list-style: none	
		justify-content: flex-end
		color: black
		height: 23px
		flex-direction: row
		width: 100vw
		background-color: $menuBack
		p
			font-family: 'Fjalla One', sans-serif
			padding-right: 50%
			font-size: 55px
			padding-top: 10px
		li
			margin-right: 12px
			margin-left: 12px
		a
			font-family: 'Fjalla One', sans-serif
			font-size: 27px
			text-decoration: none
			color: black
		a:hover,a:active,a:link
			font-size: 27px
			text-decoration: none
			color: white