.carousel
	margin-top: 30px
	height: 80vh

.carousel-inner
	height: 80vh
	position: relative
.slide
	height: 80vh
	background-size: cover
	div
		
		img
			bottom: 0
			left: 0
			position: absolute
			width: 100vw
		div
			bottom: 0
			position: absolute
			width: 100vw
			display: flex
			justify-content: center
			align-items: center
			padding-bottom: 5px
			a
				width: 200px
				display: flex
				justify-content: center
				align-items: center
				text-align: center
				text-transform: center
.item 
	height: 80vh