.carousel
	margin-top: 30px
	margin-bottom: 20px

.carousel-inner
	position: relative
.slide
	height: 523px
	background-size: cover
	.lupe-carousel-item
		background-repeat: no-repeat
		background-size: cover
		position: absolute
		top: 0
		left: 0
		width: 100%
		min-height: 520px

		img
			top: 0
			position: absolute
		.action
			padding-top: 15px
			background-color:  rgba(0, 0, 0, 0.4)
			flex-direction: column
			bottom: 0
			position: absolute
			width: 100vw
			display: inline-flex
			justify-content: center
			align-items: center
			padding-bottom: 65px
			p
				padding: 3px
				border-radius: 10px
				text-shadow: 3px 1px 1px $textBack
				color: white
				font-family: $principalFont
				font-size: 18px

.item 
	height: 80vh

.btn
	text-shadow: 3px 1px 1px $textBack
	font-family: $principalFont
	background-color: transparent
	border: 1px solid white
	color: white
	transition: 0.6s
	text-transform: uppercase
.btn:active,.btn:hover,.btn:link
	background-color: white 
	color: black
	text-shadow: none
.carousel-indicators
	left: 50.8%

@media (max-width: 768px)

	.carousel-inner
		height: 523px
	.lupe-carousel-item
		height: 523px
		width: auto
		img
			height: 523px
			width: auto
	.slide
		height: 523px
		width: auto
