.footer
	height: 20vh
	background: #323842
	font-family: $footerFont
	color: white

.name
	color: white
	font-weight: bold
.name:hover,.name:active,.name:link
	text-decoration: none
.icon
	padding: 5px
