.recent
	height: 100vh
	background-color: $recentArticles

.align-center
	display: flex
	justify-content: center
	align-items: center
	text-align: center
.art
	img
		height: 300px
.fashion	

	img
		height: 300px