.recent
	height: 100vh
	width: 100vw
	background-color: $recentArticles

.align-center
	display: flex
	justify-content: center
	align-items: center
	text-align: center
.art
	img
		height: 300px
.text
	display: flex
	height: 300px
	p
		align-self: flex-end
		font-family: 'Fjalla One', sans-serif
		font-size: 24px
		text-transform: uppercase
		color: $categoryTitle
		text-align: right
.fashion	
	img
		height: 300px
.food
	img
		height: 300px
.travel
	img
		height: 300px
.texto-vertical-2 
	writing-mode: vertical-lr
	transform: rotate(180deg)

#first
	padding-top: 20px
	padding-left: 60px
	padding-right: 0px
#second
	padding-top: 20px
	padding-left: 60px